html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

body > * {
    padding: 2.7vh 16vw 2.7vh 15.3vw;
    font-family: "Roboto";
}

.header {
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.header-link {
    margin-left: auto;
    display: flex;
    gap: 25px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white
}

.header-content {
    display: flex;
    background-color: #1F2937;
    height: 40vh;
    padding-top: 15.7vh;
    padding-bottom: 16vh;
}

.header-content > *{
    flex: 1;
}

.hc-title {
    font-size: 47.3px;
    font-weight: 800;
    color: #F9FAF8;
}
